<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dyplome">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activityes.RecoursesActivity"
            android:label="@string/title_activity_recourses"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activityes.ReactionResultActivity" />
        <activity android:name=".activityes.RecourcesActivity" />
        <activity android:name=".activityes.Main2Activity" />
        <activity android:name=".activityes.MoodTrackerActivity" />
        <activity android:name=".activityes.DiaryActivity" />
        <activity android:name=".activityes.TaskActivity" />
        <activity android:name=".activityes.TherapyActivity" />
        <activity android:name=".activityes.ResultActivity" />
        <activity android:name=".activityes.AboutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityes.TestActivity"
            android:parentActivityName=".activityes.MainActivity" />
        <activity
            android:name=".activityes.ReactionActivity"
            android:parentActivityName=".activityes.MainActivity" />
        <activity android:name=".activityes.MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activityes.MainActivity" />
    </application>

</manifest>